@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"); /* Add Inter font import */
@import "tailwindcss";

/* Global styles */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif; /* Apply Inter font globally */
}

header {
  margin: 0;
  padding: 0;
}
